{% extends 'base.html.twig' %}

{% block body %}
    <h1>
        Dodaj użytkownika
    </h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}

    <a href="/manage/"><button>WRÓĆ</button></a>
{% endblock %}
